@charset "UTF-8";
@import 'normalize.css';
@import 'reset.css';

:root
{
  --background-dashboard:url('../_image/dashboard.svg');
  --background-users:url('../_image/users-group.svg');
  --background-add:url('../_image/add.svg');
  --background-relatorio:url('../_image/relatorio.svg');
}

.grid
{
  display:grid; grid-template-areas: "header main"; grid-template-columns: minmax(260px, 260px) 1fr;
  height:100vh;
}

.header
{
  grid-area:header; box-shadow: 0 16px 38px -12px rgba(0,0,0,.56);
}

.header__logo
{
  width:100%; box-sizing:border-box; padding:20px; display:flex; justify-content: center; position:relative;
}
.logo__anchor
{
    font-size:18px;
}
.header__logo::after
{
  content: ''; display:block; width:calc(100% - 30px); height:1px; background-color:hsla(0,0%,71%,.3);
  position:absolute; bottom:0px;
}
.header__menu
{
  margin-top:20px;
}
.header__menu ul
{
  height:240px; display:flex; flex-direction: column; align-items:center; justify-content:space-between;
}
.header__menu ul li
{
  width:100%; display:flex; justify-content: center; transition:all 0.15s ease-in;
}
.header__menu ul li a
{
  width:calc(100% - 30px);  box-sizing: border-box; padding-left:60px;
  height:50px; border-radius:3px;  line-height: 50px; position:relative; transition:all 0.5s ease-out;
}
.header__menu ul li a:hover
{
  background-color:rgba(238, 238, 238, 1);
}
.header__menu ul li a.active:hover
{
  background-color:#9C27B0;
}
.active
{
  background-color:#9C27B0; color:#fff;
}
.header__menu ul li a:active
{
  background-color:#9C27B0; color:#fff;
}

.material--icon
{
  content:url('../_image/dashboard.svg'); display:inline-block; width:100%; max-width:30px;
  position:absolute; left:15px; top:10px;
}
.add
{
  content:var(--background-add) !important;
}
.users
{
  content:var(--background-users) !important;
}
.relatorio
{
  content:var(--background-relatorio) !important;
}
.main
{
  grid-area:main;
}
